**
!.gitignore
!README.md
!/brain/*
!make_workspace.py
!Makefile
!/.workspace/
!/.workspace/00-archive/

# Inside of wildcarded allowed directories, also ingore these items
.venv
__pycache__
.pytest_cache
*.pyc
.DS_Store
.vscode
*.lfs
*.psd
*.bin
.terraform
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.zip
*.tar.gz