/*
!.gitignore
!README.md
!/brain/*
!/.workspace
!/.workspace/*
/.workspace/**/*.terraform/
.DS_Store
.aws-sam/
.venv/
.pytest_cache/
__pycache__/
.terraform/
.workspace-ignored/
.coverage
!make_workspace.py
!Makefile